* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    letter-spacing: 1px;
    line-height: 1em;
    font-family: 'Mukta', sans-serif;
    font: normal 16px;
}
#container {
    text-align: center;
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 0.8rem 3.4rem rgba(223,231,229,0.15);
    box-shadow: 0 0.8rem 3.4rem rgba(223,231,229,0.15);
    width: 100%;
    min-height: 100vh;
    height: auto;
    color: #0c3344;
}

#keskitettyFormi {
    display: inline-block;
    background-color: #f4f7f8;
    width: 70%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0.8rem 3.4rem rgba(0,0,0,0.15);
    box-shadow: 0 0.8rem 3.4rem rgba(0,0,0,0.15);
}
h2 {
    text-transform: uppercase;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    line-height: 1.5em;
    letter-spacing: 1.2px;
    font-size: 2.1rem;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    text-align: center;
    width: 85%;
}

tr {
    width: 100%;
    text-align: left;
    background-color: rgb(72, 133, 237);
}
td {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(255,255,255);
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 33%;
    height: 20px;
    border-radius: 5px;
}
td[colspan="3"] {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #00008b;
}
input, button, select {
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    margin-left: 5px;
    margin-right: auto;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
select {
    width: 94%;
}
input, label {
    font-weight: bold;
    display: inline-block;
}
label {
    margin-left: 5px;
    margin-bottom: 5px;
}
input[type=checkbox] { margin-right : 5px;}

.spanit {
    padding: 10px 5px;
}

select {
    margin-left: 5px;
    box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

input .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #a3c8e0;
}

form {
    padding: 10px;
}

textarea {
    resize: vertical;
    width:100%;
    max-width:100%;
    max-height:70%;
    border-radius: 1px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

option {
    border-radius: 10px;
}
input[type="radio"], input[type="radio"]>label, input[type="checkbox"], input[type="checkbox"]>label {
    display: inline;
}

@media only screen and (max-width: 600px) {
    tr {
        text-align: left;
        max-width: 100%;
    }
    tbody {
        width: 85%;
    }
    td {
        width: 33%;
        height: 10px;
    }

    input {
        width: 60%;
    }
}
.error {
    border: 1.5px solid #721c24;
}
.success {
    border: 1.5px solid darkgreen;
}
.display-none {
    display: none;
}
.errorMsg {
    width: 75%;
    margin: 0 auto;
    margin-top: 1rem;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.errorMsg>p {
    color: #721c24;
    text-align: center;
    font-weight: bold;
}
button[type="submit"] {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
button[type="submit"]:hover, button[type="submit"]:active {
    color: #fff;
    background-color: #2ecc40;
    border-color: #2ecc40;
}
button[type="reset"] {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
button[type="reset"]:hover, button[type="reset"]:active {
    color: #fff3cd;
    background-color: #ffe21f;
    border-color: #ffe21f;  
}

@media only screen and (min-width: 1040px) {
    #keskitettyFormi {
        width: 50%;
    }
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .modal.loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(33, 33, 33, 0.7);
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    display: flex;
    justify-content: center;
}
/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal.loadingModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}